<div class="uri">
  <%= image_tag thumbnail_url( url ), :width => "200px", :height => "200px"%>
  <div class="meta">
    <%= link_to image_tag('export_icon_16.png'), url.uri %>
    <%= image_tag 'eye_icon_16.png' %>
    <%= image_tag 'doc_edit_icon_16.png' %>
  </div>
  <div class="details">
    <h3><%= truncate(url.title, :length => 32) %></h3>
    <p><%= text_field_tag "url_#{url.id}", url.uri.gsub(/http\:\/\//, "") %></p>
  </div>
</div>
