<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= params[:action] %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <header>
      <% unless current_account.nil? %>
        <%= link_to 'Log out', destroy_account_session_path %>
        <%= link_to 'Shortcut.io', bookmarklet %>
      <% end %>
    </header>

    <% if current_account %>
    <div id="toolbar">
      <div id="search">
        <input type="text" id="live_search" autofocus />
      </div>
    </div>

    <div id="search_results">
      <table>
          <tr class="selectable">
            <td class="search_category">Filter</td>
            <td class="search_category_result">new york</td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          
          <tr class="selectable">
            <td class="search_category">Results</td>
            <td class="search_category_result">TinEye Reverse Image Search</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Sproutcore MVC VS Rails MVC</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Backbone.js</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Hi, I'm Matthew from Sydney.</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">CSS3 Drop Shadows</td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          
          <tr class="selectable">
            <td class="search_category">Tags</td>
            <td class="search_category_result">new york, city</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">new york</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">city</td>
          </tr>
      </table>

    </div>
    <% end %>

    <div id="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
