<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= title_for_page  %></title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div id='wrapper'>
      <%= yield %>
    </div>

  </body>
</html>
