<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= params[:action] %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'handlebars-0.9.0.pre.5' %>
    <%= javascript_include_tag 'url' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <header>
      <% unless current_account.nil? %>
        <%= link_to 'Log out', destroy_account_session_path %>
        <%= link_to 'Shortcut.io', bookmarklet %>
      <% end %>
    </header>

    <% if current_account %>
    <div id="toolbar">
      <div id="search">
        <input type="text" id="live_search" autofocus />
      </div>
    </div>

    <div id="search_results">
      <table>
        <tbody id="filter_search">
          <tr class="selectable">
            <td class="search_category">Filter</td>
            <td class="search_category_result"></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </tbody>
        <tbody>
          <tr class="selectable">
            <td class="search_category">Results</td>
            <td class="search_category_result">TinEye Reverse Image Search</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Sproutcore MVC VS Rails MVC</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Backbone.js</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">Hi, I'm Matthew from Sydney.</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">CSS3 Drop Shadows</td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </tbody>
        <tbody id="filter_tags">
          <tr class="selectable">
            <td class="search_category">Tags</td>
            <td class="search_category_result">new york, city</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">new york</td>
          </tr>
          <tr class="selectable">
            <td class="search_category"></td>
            <td class="search_category_result">city</td>
          </tr>
        </tbody>
      </table>

    </div>
    <% end %>

    <div id="wrapper">
      <%= yield %>
    </div>

    <script id="search_result_items" type="text/x-handlebars-template">
      <tr class="selectable">
        <td class="search_category">{{title}}</td>
        <td class="search_category_result">{{result}}</td>
      </tr>
    </script>
    
    <script id="edit_url_template" type="text/x-handlebars-template">
      <div id="edit_url_view">
        <div class="thumbnail_frame">
          <img src="{{thumbnail}}" width="300px" height="300px"/>
        </div>
        <form action="#">
          <p>
            <label for="url[uri]">URL</label><br />
            <input type="text" name="url[uri]" value="{{uri}}" tabindex="1" />
          </p>
          <p>
            <label for="url[title]">Title</label><br />
            <input type="text" name="url[title]" value="{{title}}" tabindex="2"/>
          </p>
          <p>
            <label for="url[description]">Description</label><br />
            <textarea rows="4" name="url[description]" tabindex="3">{{description}}</textarea>
          </p>
          <p>
            <label for="url[tags]">Tags</label><br />
            <input type="text" name="url[tags]" value="{{tags}}" tabindex="4"/>
          </p>
          <p class="form_buttons">
            <input type="reset" value="Cancel" />
            <input type="submit" value="Save"  />
          </p>
          <input type="hidden" name="id" value="{{id}}" />
        </form>
      </div>
    </script>
  </body>
</html>
