<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= title_for_page %></title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= include_javascripts :workspace %>
  </head>
  <body>
    <div id="notifications">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <header>
      <% unless current_account.nil? %>
        <%= link_to 'Log out', destroy_account_session_path %>
        <%= link_to 'Shortcut.io', bookmarklet %>
      <% end %>
    </header>

    <% if current_account %>
    <div id="toolbar">
      <ul>
        <li>
          <%= current_account.username %> |
          <%= link_to 'logout', destroy_session_path(current_account) %>
        </li>
        <li>
          <%= link_to 'Dashboard', urls_path %>
        </li>
        <li>
          <%= link_to 'Tools', tools_index_path %>
        </li>
        <li>
          <%= link_to 'Shortcut.io Bookmarklet', bookmarklet, :title => "Bookmarklet" %>
        </li>
        <li>
          <a href="http://flattr.com/thing/438691/Shortcut-io-Bookmarking" target="_blank">
            <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" style="vertical-align: middle" />
          </a>
        </li>
      </ul>
      <div id="search">
        <input type="text" id="live_search" autofocus />
      </div>
    </div>
    <% end %>

    <div id="wrapper">
      <%= yield %>
    </div>

    <script id="search_result_items" type="text/x-handlebars-template">
      <tr class="selectable">
        <td class="search_category">{{title}}</td>
        <td class="search_category_result">{{result}}</td>
      </tr>
    </script>
  </body>
</html>
