<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= title_for_page %></title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= include_javascripts :tools %>
  </head>
  <body>
    <div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <header>
      <% unless current_account.nil? %>
        <%= link_to 'Log out', destroy_account_session_path %>
        <%= link_to 'Shortcut.io', bookmarklet %>
      <% end %>
    </header>

    <div id="toolbar">
      <div id="session">
        <%= current_account.username %> |
        <%= link_to 'logout', destroy_session_path(current_account) %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Dashboard', urls_path %>
        <%= link_to 'Tools', tools_index_path %>
        <%= link_to 'Post on Shortcut.io', bookmarklet, :title => "Bookmarklet" %>
      </div>
    </div>

    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>

