<!DOCTYPE html>
<html>
  <head>
    <title>shortcut.io | <%= title_for_page %></title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= include_javascripts :tools %>
  </head>
  <body>
    <div id="notifications">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div id="toolbar">
      <ul>
        <li>
          <%= current_account.username %> |
          <%= link_to 'logout', destroy_session_path(current_account) %>
        </li>
        <li>
          <%= link_to 'Dashboard', urls_path %>
        </li>
        <li>
          <%= link_to 'Tools', tools_index_path %>
        </li>
        <li>
          <%= link_to 'Shortcut.io Bookmarklet', bookmarklet, :title => "Bookmarklet" %>
        </li>
      </ul>
    </div>

    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>

